@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-orbitron: Orbitron;
  --font-rubik-glitch: "Rubik Glitch";

  /* font sizes */
  --font-size-6xl: 25px;
  --font-size-7xl: 26px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: rgba(0, 0, 0, 0.5);
  --color-dimgray: #4a5568;
  --color-royalblue: rgba(102, 126, 234, 0.5);
  --color-darkslateblue: #1e2854;
  --color-aliceblue: #edf2f7;
}
